/* Mine */
/*===============================================
/* Fonts, Normalize, and Variables
===============================================*/
/*===============================================
/* Web Fonts 
===============================================*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/sourcesanspro-lightit-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-lightit-webfont.woff") format("woff"), url("/fonts/sourcesanspro-lightit-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("/fonts/sourcesanspro-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("/fonts/sourcesanspro-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*===============================================
/* SASS Variables
===============================================*/
/* 480/16 */
/* 768/16 */
/* 960/16 */
/* 1220/16 */
/* 1600/16 */
/* 25/16 */
/*===============================================
/* Grid System
===============================================*/
/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  box-sizing: border-box; }

/*===============================================
/* Components
===============================================*/
.yd-grid-width-1 {
  width: 6.7796610169%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-2 {
  width: 15.2542372881%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-3 {
  width: 23.7288135593%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-4 {
  width: 32.2033898305%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-5 {
  width: 40.6779661017%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-6 {
  width: 49.1525423729%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-7 {
  width: 57.6271186441%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-8 {
  width: 66.1016949153%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-9 {
  width: 74.5762711864%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-10 {
  width: 83.0508474576%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-11 {
  width: 91.5254237288%;
  float: left;
  margin-right: 1.6949152542%; }

.yd-grid-width-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.yd-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .yd-container:after {
    content: " ";
    display: block;
    clear: both; }

/* Tells Susy there's 8 columns in the content */
.yd-content {
  /* Styles for mobile view go here */
  /* Styles for desktop view go here */ }
  @media (min-width: 60em) {
    .yd-content {
      width: 66.1016949153%;
      float: left;
      margin-right: 1.6949152542%; } }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.yd-sidebar {
  /* Styles for mobile view go here */
  /* Styles for desktop view go here */ }
  @media (min-width: 60em) {
    .yd-sidebar {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; } }

footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/*===============================================
/* Typography Basics
===============================================*/
html {
  font-size: 18px;
  line-height: 1.5;
  color: #404040;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: serif;
  font-size: 100%;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0; }

.fonts-loaded body {
  font-family: "Source Sans Pro", serif; }

@media (min-width: 48em) {
  body {
    font-size: 110%; } }

@media (min-width: 60em) {
  body {
    font-size: 120%; } }

@media (min-width: 76.25em) {
  body {
    font-size: 130%; } }

@media (min-width: 100em) {
  body {
    font-size: 135%; } }

/* block elements */
blockquote, figure {
  margin: 0; }

p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
  margin: 0 0 0.6em 0; }

* + p, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure {
  margin-top: 0.6em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.6em 0;
  font-family: serif;
  font-weight: 600;
  line-height: 1.2;
  color: #002f5f;
  text-transform: none;
  letter-spacing: 0; }

.fonts-loaded body h1,
.fonts-loaded body h2 {
  font-family: "Source Sans Pro", sans-serif; }

.fonts-loaded body h3,
.fonts-loaded body h4,
.fonts-loaded body h5,
.fonts-loaded body h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1.5625em; }

h1, .yd-h1 {
  font-size: 231%; }

h2, .yd-h2 {
  font-size: 190%; }

h3, .yd-h3 {
  font-size: 134%; }

h4, .yd-h4 {
  font-size: 105%; }

@media (min-width: 48em) {
  h1, .yd-h1 {
    font-size: 254%; }
  h2, .yd-h2 {
    font-size: 209%; }
  h3, .yd-h3 {
    font-size: 147%; }
  h4, .yd-h4 {
    font-size: 116%; } }

@media (min-width: 60em) {
  h1, .yd-h1 {
    font-size: 277%; }
  h2, .yd-h2 {
    font-size: 228%; }
  h3, .yd-h3 {
    font-size: 161%; }
  h4, .yd-h4 {
    font-size: 126%; } }

@media (min-width: 76.25em) {
  h1, .yd-h1 {
    font-size: 300%; }
  h2, .yd-h2 {
    font-size: 247%; }
  h3, .yd-h3 {
    font-size: 174%; }
  h4, .yd-h4 {
    font-size: 137%; } }

@media (min-width: 100em) {
  h1, .yd-h1 {
    font-size: 312%; }
  h2, .yd-h2 {
    font-size: 257%; }
  h3, .yd-h3 {
    font-size: 181%; }
  h4, .yd-h4 {
    font-size: 142%; } }

/* Adjustments */
.yd-text-paragraph {
  font-family: serif; }

.fonts-loaded body .yd-text-paragraph {
  font-family: "Source Sans Pro", serif; }

/* Lists */
ul, ol {
  list-style-type: none;
  padding-left: 0; }

ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul {
  margin: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Horizontal rules */
hr {
  /* normalize */
  box-sizing: content-box;
  height: 0;
  /* style */
  margin: 0.6em 0;
  border: 0;
  border-top: 1px solid #ddd; }

/* Links */
a {
  color: #004993;
  text-decoration: none;
  background: transparent;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

a:active, a:hover {
  outline: 0; }

a:visited {
  color: #004993;
  text-decoration: none; }

/* .no-touch a:hover {color:$base-link-hover-color;border-bottom-style: solid;}
.no-touch a:after {
    content: '';
    display: block;
    border-bottom: 2px solid;
    border-color: inherit;
    width: 0;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
}
.no-touch a:hover:after { width: 100%; }
.no-touch a#logo:hover:after,
.no-touch a.yd-button:hover:after { width: 0; }	
*/
/* Buttons */
.yd-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.yd-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1.3em;
  vertical-align: middle;
  min-height: 50px;
  line-height: 50px;
  color: #002f5f;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 2px;
  background: transparent;
  border: solid 2px #002f5f;
  border-radius: 4px; }

.yd-button:not(:disabled) {
  cursor: pointer; }

.no-touch .yd-button:hover,
.no-touch .yd-button:focus {
  background-color: #002f5f;
  color: #fff;
  outline: none;
  text-decoration: none;
  border: solid 2px #002f5f; }

.yd-button:active,
.yd-button.yd-active {
  background-color: red;
  color: white; }

/*===============================================
/* Images and Media
===============================================*/
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box; }

/*===============================================
/* SVG Styles for Icons 
===============================================*/
svg:not(:root) {
  overflow: hidden;
  fill: currentColor; }

/*===============================================
/* Navigation
===============================================*/
/*===============================================
/* Utility
===============================================*/
/*===============================================
/* UTILITY 
 ========================================================================== */
/*
 * Margin
 */
/* Create a block with the same margin of a paragraph. Add margin if adjacent element */
.yd-margin {
  margin-bottom: 15px; }

* + .yd-margin {
  margin-top: 15px; }

.yd-margin-top {
  margin-top: 15px !important; }

.yd-margin-bottom {
  margin-bottom: 15px !important; }

.yd-margin-left {
  margin-left: 15px !important; }

.yd-margin-right {
  margin-right: 15px !important; }

/* Larger margins */
.yd-margin-large {
  margin-bottom: 50px; }

* + .yd-margin-large {
  margin-top: 50px; }

.yd-margin-large-top {
  margin-top: 50px !important; }

.yd-margin-large-bottom {
  margin-bottom: 50px !important; }

.yd-margin-large-left {
  margin-left: 50px !important; }

.yd-margin-large-right {
  margin-right: 50px !important; }

/* * Smaller margins */
.yd-margin-small {
  margin-bottom: 5px; }

* + .yd-margin-small {
  margin-top: 5px; }

.yd-margin-small-top {
  margin-top: 5px !important; }

.yd-margin-small-bottom {
  margin-bottom: 5px !important; }

.yd-margin-small-left {
  margin-left: 5px !important; }

.yd-margin-small-right {
  margin-right: 5px !important; }

/* Remove margins */
.yd-margin-remove {
  margin: 0 !important; }

.yd-margin-top-remove {
  margin-top: 0 !important; }

.yd-margin-bottom-remove {
  margin-bottom: 0 !important; }

/*
 * Vertical alignment
 */
/* Vertically Center */
.yd-center-vert {
  display: table;
  width: 100%;
  height: 100%; }

.yd-center-vert-inner {
  display: table-cell;
  vertical-align: middle; }

/*
 * Display 
 */
.yd-display-block {
  display: block !important; }

.yd-display-inline {
  display: inline !important; }

.yd-display-inline-block {
  display: inline-block !important; }

/*
 * Visibility
 * Avoids setting display to `block` so it works also with `inline-block` and `table`
 */
/* Desktop and bigger */
@media (min-width: 60em) {
  .yd-visible-small {
    display: none !important; }
  .yd-visible-medium {
    display: none !important; }
  .yd-hidden-large {
    display: none !important; } }

/* Tablets portrait */
@media (min-width: 48em) and (max-width: 59em) {
  .yd-visible-small {
    display: none !important; }
  .yd-visible-large {
    display: none !important; }
  .yd-hidden-medium {
    display: none !important; } }

/* Phone landscape and smaller*/
@media (max-width: 47em) {
  .yd-visible-medium {
    display: none !important; }
  .yd-visible-large {
    display: none !important; }
  .yd-hidden-small {
    display: none !important; } }

/* Remove from the flow and screen readers on any device */
.yd-hidden {
  display: none !important;
  visibility: hidden !important; }

/* It's hidden, but still affects layout */
.yd-invisible {
  visibility: hidden !important; }

/* Show on hover */
.yd-visible-hover:hover .yd-hidden,
.yd-visible-hover:hover .yd-invisible {
  display: block !important;
  visibility: visible !important; }

.yd-visible-hover-inline:hover .yd-hidden,
.yd-visible-hover-inline:hover .yd-invisible {
  display: inline-block !important;
  visibility: visible !important; }

/* Hide on touch */
.touch .yd-hidden-touch,
.no-touch .yd-hidden-notouch {
  display: none !important; }
