/*===============================================
/* Typography Basics
===============================================*/
html {
	font-size: $base-font-size;
	line-height: $base-body-line-height;
	color: $base-body-color;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
*, *:before, *:after {
	box-sizing: inherit
}
body {
	font-family: serif;
	font-size:$base-body-font-size;
	background-color: $base-body-background;
	padding: 0;
	margin: 0;
}
.fonts-loaded body {
	font-family: $base-body-font-family;
}
@media(min-width:$breakpoint-medium) {  
	body {font-size:round(($base-body-font-size * $breakpoint-medium-font-multiplier))}}
@media(min-width:$breakpoint-large) { 
	body {font-size:round(($base-body-font-size * $breakpoint-large-font-multiplier))}}
@media(min-width:$breakpoint-xlarge) { 
	body {font-size:round(($base-body-font-size * $breakpoint-xlarge-font-multiplier))}}
@media(min-width:$breakpoint-xxlarge) { 
	body {font-size:round(($base-body-font-size * $breakpoint-xxlarge-font-multiplier))}}

/* block elements */
blockquote, figure {margin: 0;}
p, ul, ol, dl, blockquote, pre, address, fieldset, figure {margin: 0 0 $base-margin-vertical 0;} 
* + p, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure {margin-top: $base-margin-vertical;} 

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $base-margin-vertical 0; 
	font-family: $base-heading-font-family-fallback-only;
	font-weight: $base-heading-font-weight;
	line-height: $base-heading-line-height;
	color: $base-heading-color;
	text-transform: $base-heading-text-transform;
	letter-spacing: $base-heading-letter-spacing}
.fonts-loaded body h1, 
.fonts-loaded body h2 {
	font-family: $base-heading-font-family
}
.fonts-loaded body h3, 
.fonts-loaded body h4, 
.fonts-loaded body h5, 
.fonts-loaded body h6 {
	font-family: $base-heading-font-family-secondary;
	font-weight: $base-heading-font-weight-secondary;
	text-transform: $base-heading-text-transform-secondary
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {margin-top: $base-heading-margin-top;}
h1, .yd-h1 {font-size:  $base-h1-font-size;} 
h2, .yd-h2 {font-size:  $base-h2-font-size;}
h3, .yd-h3 {font-size:  $base-h3-font-size;} 
h4, .yd-h4 {font-size:  $base-h4-font-size;} 
@media(min-width:$breakpoint-medium) { 
	h1, .yd-h1 {font-size:  round(($base-h1-font-size * $breakpoint-medium-font-multiplier))}
    h2, .yd-h2 {font-size:  round(($base-h2-font-size * $breakpoint-medium-font-multiplier))}
	h3, .yd-h3 {font-size:  round(($base-h3-font-size * $breakpoint-medium-font-multiplier))}
	h4, .yd-h4 {font-size:  round(($base-h4-font-size * $breakpoint-medium-font-multiplier))}}
@media(min-width:$breakpoint-large) { 
	h1, .yd-h1 {font-size:  round(($base-h1-font-size * $breakpoint-large-font-multiplier))}
	h2, .yd-h2 {font-size:  round(($base-h2-font-size * $breakpoint-large-font-multiplier))}
	h3, .yd-h3 {font-size:  round(($base-h3-font-size * $breakpoint-large-font-multiplier))}
	h4, .yd-h4 {font-size:  round(($base-h4-font-size * $breakpoint-large-font-multiplier))}}
@media(min-width:$breakpoint-xlarge) {  
	h1, .yd-h1 {font-size:  round(($base-h1-font-size * $breakpoint-xlarge-font-multiplier))}
	h2, .yd-h2 {font-size:  round(($base-h2-font-size * $breakpoint-xlarge-font-multiplier))}
	h3, .yd-h3 {font-size:  round(($base-h3-font-size * $breakpoint-xlarge-font-multiplier))}
	h4, .yd-h4 {font-size:  round(($base-h4-font-size * $breakpoint-xlarge-font-multiplier))}}
@media(min-width:$breakpoint-xxlarge) { 
	h1, .yd-h1 {font-size:  round(($base-h1-font-size * $breakpoint-xxlarge-font-multiplier))}
	h2, .yd-h2 {font-size:  round(($base-h2-font-size * $breakpoint-xxlarge-font-multiplier))}
	h3, .yd-h3 {font-size:  round(($base-h3-font-size * $breakpoint-xxlarge-font-multiplier))}
	h4, .yd-h4 {font-size:  round(($base-h4-font-size * $breakpoint-xxlarge-font-multiplier))}} 
/* Adjustments */
.yd-text-paragraph {font-family: $base-body-font-family-fallback-only}
.fonts-loaded body .yd-text-paragraph {font-family: $base-body-font-family;}

/* Lists */
ul, ol {list-style-type: none; padding-left: $base-list-padding-left; }
ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul { margin: 0; }
dt { font-weight: bold; }
dd { margin-left: 0; }
/* Horizontal rules */
hr {/* normalize */ -moz-box-sizing: content-box;box-sizing: content-box;height: 0;
    /* style */ margin: $base-hr-margin-vertical 0;border: 0;border-top: $base-hr-border-width solid $base-hr-border;}

/* Links */
a {
	color: $base-link-color;
	text-decoration: none;
	background: transparent;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out; 
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;}
a:active, a:hover {
	outline: 0;
}
a:visited {
	color: $base-link-color;
	text-decoration: none
}
/* .no-touch a:hover {color:$base-link-hover-color;border-bottom-style: solid;}
.no-touch a:after {
    content: '';
    display: block;
    border-bottom: 2px solid;
    border-color: inherit;
    width: 0;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
}
.no-touch a:hover:after { width: 100%; }
.no-touch a#logo:hover:after,
.no-touch a.yd-button:hover:after { width: 0; }	
*/
