/* Buttons */

.yd-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.yd-button {
	-webkit-appearance: none;
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: $button-padding-vertical $button-padding-horizontal;
	vertical-align: middle;
	min-height: $button-height;
	line-height: $button-line-height;
	color: $button-color;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	text-align: center;
	text-transform: $button-text-transform;
	text-decoration: none;
	letter-spacing: $button-letter-spacing;
	background: $button-background;
	border:solid $button-border-width $button-border-color;
	border-radius: $button-border-radius;
}

.yd-button:not(:disabled) { cursor: pointer; }

.no-touch .yd-button:hover,
.no-touch .yd-button:focus { // 1
    background-color: $button-hover-background;
    color: $button-hover-color;
    outline: none;
    text-decoration: none;
    border:solid $button-border-width $button-border-color;
}

.yd-button:active,
.yd-button.yd-active {
    background-color: $button-active-background;
    color: $button-active-color;
}