.yd-grid-width-1 {@include span(1);}
.yd-grid-width-2 {@include span(2);}
.yd-grid-width-3 {@include span(3);}
.yd-grid-width-4 {@include span(4);}
.yd-grid-width-5 {@include span(5);}
.yd-grid-width-6 {@include span(6);}
.yd-grid-width-7 {@include span(7);}
.yd-grid-width-8 {@include span(8);}
.yd-grid-width-9 {@include span(9);}
.yd-grid-width-10 {@include span(10);}
.yd-grid-width-11 {@include span(11);}
.yd-grid-width-12 {@include span(12);}

.yd-container {
  @include container;
}
.yd-container__padded {
  padding: 0 1em;
}

/* Tells Susy there's 8 columns in the content */
.yd-content {
  /* Styles for mobile view go here */ 

  /* Styles for desktop view go here */
  @media (min-width: $breakpoint-large) {
    @include span(8); 
  }
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.yd-sidebar {
  /* Styles for mobile view go here */ 

  /* Styles for desktop view go here */
  @media (min-width: $breakpoint-large) {
    @include span(4 last); 
  }
}

nav.yd-nav__main div:nth-child(1) {
      height: $navbar-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include span(3); 
}

nav.yd-nav__main div:nth-child(2) {
      @include span(9 last); 
}
nav.yd-nav__main div ul {
      float: right;
      margin:0;
}
nav.yd-nav__main div ul li {
      float: left;
}
nav.yd-nav__main div ul li:last-child:after  {
    content: " ";
    display: block;
    clear: both;
}
nav.yd-nav__main div ul li a {
      display: inline-block;
      padding: 0 0.7em;  
      font-size: 0.9em;
      line-height: $navbar-height;  
      text-transform: uppercase;
      letter-spacing: 0.0625em;  /* 1/16 */
    @media (min-width: $breakpoint-large) {
      font-size: 0.7em; 
  }
      
}

footer {
	@include span(12);
}