/*===============================================
/* SASS Variables
===============================================*/
$color-blue:									#002f5f;
$color-yellow:									#ddcd69;

$page-container-maxwidth:						1000px;

$breakpoint-small:                              30em; /* 480/16 */
$breakpoint-medium:                             48em; /* 768/16 */
$breakpoint-large:                              60em; /* 960/16 */
$breakpoint-xlarge:                             76.25em; /* 1220/16 */
$breakpoint-xxlarge:                            100em;  /* 1600/16 */

$breakpoint-mini-max:                           ($breakpoint-small - 1);
$breakpoint-small-max:                          ($breakpoint-medium - 1);
$breakpoint-medium-max:                         ($breakpoint-large - 1);
$breakpoint-large-max:                          ($breakpoint-xlarge - 1);
$breakpoint-xlarge-max:                          ($breakpoint-xxlarge - 1);

$breakpoint-medium-font-multiplier:             1.1; 
$breakpoint-large-font-multiplier:              1.2; 
$breakpoint-xlarge-font-multiplier:             1.3; 
$breakpoint-xxlarge-font-multiplier:            1.35;

$base-font-size:								18px;

$base-body-background:                          #f4f4f4;
$base-body-font-family-fallback-only: 			serif;
$base-body-font-family: 						'Source Sans Pro', serif;
$base-body-font-weight:                         300;
$base-body-font-size:							100%;
$base-body-line-height:							1.5;
$base-body-color:                               #404040;

$base-link-color: 							    #004993;
$base-link-hover-color: 						#0061C4;

$base-margin-vertical:                          0.6em; 

$base-heading-color: 							$color-blue;
$base-heading-font-family-fallback-only: 		serif;
$base-heading-font-family: 						'Source Sans Pro', sans-serif;
$base-heading-font-family-secondary: 			'Source Sans Pro', sans-serif;
$base-heading-font-weight: 						600; 
$base-heading-font-weight-secondary: 			600; 
$base-heading-text-transform: 					none;
$base-heading-text-transform-secondary: 		uppercase;
$base-heading-letter-spacing:					0;
$base-heading-line-height: 						1.2;
$base-heading-margin-top: 						1.5625em; /* 25/16 */

$base-h1-font-size:                             round(($base-body-font-size * 2.3125));
$base-h2-font-size:                             round(($base-body-font-size * 1.9)); 
$base-h3-font-size:                             round(($base-body-font-size * 1.3375)); 
$base-h4-font-size:                             round(($base-body-font-size * 1.05)); 
$base-h5-font-size:                             $base-body-font-size; 
$base-h6-font-size:                             round(($base-body-font-size * 0.85)); 

$base-list-padding-left:						0;

$base-hr-margin-vertical:                       $base-margin-vertical;
$base-hr-border:                                #ddd;
$base-hr-border-width:                          1px;

$button-color:									$color-blue;
$button-padding-horizontal:						1.3em;
$button-padding-vertical:						0;
$button-background:								transparent;
$button-border-color:							$color-blue;
$button-border-width:							2px;
$button-border-radius:							4px;
$button-line-height:							50px;	
$button-height:									50px;
$button-font-size:								1em;
$button-font-weight: 							$base-body-font-weight;
$button-text-transform:							none;
$button-letter-spacing:							2px;
$button-hover-background:						$color-blue;
$button-hover-color:							#fff;
$button-active-background:						red;
$button-active-color:							white;

$utility-margin:                                15px;
$utility-margin-small:                          5px;
$utility-margin-large:                          50px;