@charset "utf-8";
/*===============================================
/* Fonts, Normalize, and Variables
===============================================*/
@import "fonts";
@import "normalize";
@import "variables";

/*===============================================
/* Grid System
===============================================*/
@import "vendor/susy/susy";
/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: $page-container-maxwidth,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
  );

/* Makes border-box properties */
@include border-box-sizing;

/*===============================================
/* Components
===============================================*/
@import "site";
@import "base";
@import "buttons";

/*===============================================
/* Images and Media
===============================================*/
img {max-width: 100%;height: auto;border: 0;vertical-align: middle;-moz-box-sizing: border-box;box-sizing: border-box;}

/*===============================================
/* SVG Styles for Icons 
===============================================*/
svg:not(:root) {overflow: hidden;fill: currentColor;}

/*===============================================
/* Navigation
===============================================*/

/*===============================================
/* Utility
===============================================*/
@import "utility";